.logo{
    width: 100px;
    height: 110px;
    margin: 30px auto;
}

img{  /* 인라인 요소 : 모든 정렬의 기준점은 화면의 왼쪽, 상단 */
   
}

.menu{
    background-color: #005891;
    margin: 30px 0;
    line-height: 50px; /* 행 -높이*/
    text-align: center;
    height: 50px;
}

.menu a{
    color:white;
    font-size: 14px;
    text-decoration: none;  /*텍스트- 꾸밈 : 없음 */
    padding: 0 20px;
    font-weight: bold; /*글자-두께 : 두껍게 */
}

.menu a:hover{ /* 의사{pseudo-class)선택자 */
    color:#fcff00;
}

.hero_img{
    width: 800px;
    height: 500;
    margin: 0 auto;
}

.title{
    text-align: center;
    margin: 50px 0;
}

.title h1{
    margin-bottom: 10px;
    font-size: 22px;
}

.title p{
    font-size: 16px;
    color:#555555;
}

.clips{
    width: 650px;
    margin: 30px auto;
    font-size: 0; /* 글자-크기 : 0(없음, 표시x, 글자마다 자동으로 생성되는 여백x) */
    display: flex; /* 표시(기본값: 가로로 나열) */
}

.clip:nth-child(1){ /* 2개의 자식 클래스 중 첫번째 것을 사용 */
    margin-right: 50px;

}

.clip h2{
    font-size: 22px;
    font-weight: bold;
}

.clip h2, .clip p{
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}

.social_media{
    text-align: center;
    margin: 30px 0;
}
.social_media a{
    text-decoration: none;
    margin-right: 15px;
}

.social_media a:nth-child(4){
    margin-right: 0;
}

.contact, .info{
    text-align: center;
    
}

.contact h2{
    font-size: 15px;
    color: #005891;
    text-transform: uppercase; /* 텍스트 변형 : 대문자로 
                                capitalize : 첫 글자만 대문자*/
}
.contact p{
    font-weight: bold;
    font-size: 30px;
    color:#005891;
}
hr{
    margin: 30px 0;
    height: 1px;
    background-color: #005891;
    border: 0;
}

.info p:nth-child(1){
    font-size: 13px;
    margin-bottom: 10px;
    
}

.info p:nth-child(2){
    font-size: 11px;
    text-transform: uppercase;
}


